body{
    font-family: 'ubuntu',static;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.5px;
    color: black;
    background-color:white;
}

.site-logo-img{
    height: 40px;
    object-fit: cover;
    display: flex;
}

.sitenav-link{
    text-decoration: none;
    color: orangered;
}

.site-header{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 86%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 9%;
    transition: all ease .55s;
    background-color:ivory;
    border-bottom: 3px solid orangered;
    border-top: 3px solid orangered;
}

.sitenav-list{
    display: flex;
    list-style:none;  
}

.sitenav-list a {
    font-weight: 600;
    margin: 0 50px;
    transition: all ease .55s;
}

.sitenav-list a:hover{
   color:gray;
}

.h-btn{
    text-decoration: none;
    font-weight:800;
    font-size: 18px;
    border: 3px solid orangered;
    border-radius: 5px;
    padding: 8px 10px;
    background:orangered;
    color:white ;
}

.btn1:hover{
    cursor: pointer;
    transform: scale(1.08);
    transition: all ease .55s;
}

section{
    padding: 0 5% ;
}

.hero{
    position:relative;
    width: 90%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 200px;
}

.hero-img{
    height:auto;
    width:auto;
    object-fit: cover;
}

.hero-text h1{
    font-size:60px;
    line-height: 1;
    font-weight: 800;
    color: gray;
}

.hero-text h4{
    font-size:24px;
    letter-spacing: 10px;
    font-weight: 500;
    color:orangered;
    text-transform: uppercase;
}

.hero-text p{
    line-height: 1.5;
    font-weight: 450;
}

.social a:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all ease .55s;
    
}

.social a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-right: 20px;
    margin-top: 20px;
}
.social img{
    border: 2px solid orangered;
    border-radius: 20px;
    padding: 5px;
}
.about{
    height: 100vh;
    background-color:white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 10px;
}
.about img{
    width:100%;
    height:400px;
    max-width: 500px;
    border-radius: 10px;
}

.content h2{
    font-weight: 600;
    text-transform: uppercase;
    color: gray;
}
.about span{
    font-weight: 600;
    text-transform: uppercase;
    color: orangered;
}
.about h3{
    color:orangered;
}
.content a{
    text-decoration: none;
    display: flex;
    font-weight: 600;
    transition: all ease .55s;
}
.content p{
    line-height: 1.5;
    font-size: 18px;
    font-weight: 450;
}
.btn{
    text-decoration: none;
    font-weight:800;
    font-size: 18px;
    border: 3px solid orangered;
    border-radius: 5px;
    padding: 6px 8px;
    color: white;
    background-color:orangered;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-right: 520px;
}

.btn:hover{
    cursor: pointer;
    transform: scale(1.08);
}

.mod{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.mod h2 {
    text-transform: uppercase;
    color: gray;
}
.mod span {
    text-transform: uppercase;
    color: orangered;
}

.models{
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-align: center;
    gap: 1rem;
}
.models-img{
    width: 180px;
    height: 180px;
    object-fit: cover;
}
.box{
    border: 2px solid silver;
    border-radius: 5px;
    color: orangered;
    padding-bottom: 10px;
    background-color: white;
}

.box:hover{
    border: 2px solid gray;
    cursor: pointer;
    transform:  scale(1.02);
    transition: all ease .55s;
}

.asa{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 30px;
    padding-left: 172px;
}

.buy-box{
    display: flex;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid silver;
    justify-content: center;
    border-radius: 5px;
    padding: 8px 30px;
    color: white;
    background-color: orangered;
}

.buy-box:hover{
    cursor: pointer;
    transform:scale(1.08);
    transition: all ease .55s;
}

.down{
    width: 25px;
    height: 25px;
}

.box h5{
    color: rgb(70, 69, 69);
}

.card {
width: 320px;
border-radius: 25px;
background-color: silver;
cursor: pointer;
transition: all 0.3s ease;
}
.card:hover{
    transform: scale(1.06);
}
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
}
.card-image img {
    position: relative;
    border: 2px solid orangered;
    border-radius: 50%;
    height: 200px;
    width: 200px;
} 
.name {
    font-size: 15px;
    font-weight: 500;
    color:white;
    text-align: center;
}
.description {
    font-size: 14px;
    color: grey;
    text-align: center;
}
.view {
    margin-left: 86px;
    border: none;
    font-weight: bold;
    border: 2px solid orangered;
    justify-content: center;
    border-radius: 5px;
    padding: 8px 30px;
    color: white;
    background-color: orangered;
    cursor: pointer;
    transition: all 0.3s ease;
}
.view:hover {
    background-color: white;
    color: orangered;
}
.slide-container{
    display: flex;
    gap: 20px;
}
.contact-form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.contact-form form{
    position: relative;
    width: 600px;
}
form input,
form textarea{
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    box-shadow: 2px 2px 10px orangered;
    color: black;
    margin-bottom: 20px;
    border-radius: 8px;
    font-size: 15px;
}

form .send-btn{
    display: inline-block;
    font-weight:600;
    font-size: 18px;
    border: 3px solid orangered;
    border-radius: 5px;
    padding: 8px 10px;
    background:orangered;
    color:white ;
    transition: all .50s ease;
    width: 30%;
}

.send-btn:hover{
    cursor: pointer;
    transform: scale(1.08);
}

